@import '../../styles/grid.scss';
.found-container{
    // @include grid-col-row(1, 1) {
    //     color: red;
    // }
    position: relative;
    .type-list-container{
        position: relative;
        height: 34px;
    }

    .rotate-img-container{
        width: 730px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}