.home{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    .top-container{
        flex-basis: 70px;
        background-color: #242424;
    }
    .module-container{
        flex: 1;
    }
}